/* ----------------------------------- */
/* -------------- Resets ------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    /* outline    : solid green; */
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.625;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-main-gray);
    background-color: rgb(40, 40, 40);
    /* background-color: var(--clr-background); */
    overflow-x: hidden;
}

img,
audio,
video {
    height: auto;
    max-width: 100%;
    display: block;
}

/* ----------------------------------- */
/* ---------- Root Variables --------- */
/* ADJUST AS NEEDED - ASSIGN AS NECCESARY */

:root {
    --clr-background: hsl(348, 87%, 27%);
    --clr-cta-main: hsl(348, 87%, 27%);
}

h1 {
    color: #FFF478;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 0.5rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0.9;
    margin-bottom: 1rem;
    max-width: 70%;
    min-height: 2.5rem;
}

p {
    line-height: 1.4;
    font-size: 0.925rem;
    text-align: justify;
}

.row-flex {
    display: flex;
    gap: 1rem;
}

/* header */

header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var(--clr-background);
}

/* Settings */

#settings {
    width: 90%;
    margin: auto;
    color: white;
}

.setting {
    margin-top: 2rem;
}

.providers-wrapper {
    display: flex;
    gap: 1rem;
}

#find {
    margin:3rem auto;
    width: 80%;
    text-align: center;
    padding: 1rem;
    background-color: var(--clr-background);
    cursor: pointer;
    border-radius: 0.5rem;
}

/* Cards */

.card {
    position: relative;
    display: none;
    width: 95%;
    max-width: 25rem;
    overflow: hidden;
    margin: 1rem auto;
}

.poster {
    
    /* position: relative; */
    max-width: 32%;
}

.poster img {
    aspect-ratio: 1/1.5;
    object-fit:cover;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}

.rating {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    right: 7px;
    top: 7px;
    background-color: white;
    padding: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    color: white;
    border: 2px dashed var(--clr-background);
}

.rating .rating-number {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(41, 41, 41);
}

.provider {
    z-index: 20;
    color: rgb(221, 221, 221);
    font-size: .8rem;
    position: absolute;
    right: 20px;
    bottom: -20px;
}



.overview {
    padding: 0.7rem;
    background-color: var(--clr-background);
    color: rgb(233, 233, 233);
    border-radius: 0 1rem 1rem 0;

}

.overview-details {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*.card {
    /* display: none; */
    /* width: 90%;
    max-width: 25rem;
    overflow: hidden;
    margin: 1rem auto;
} */
/* 
.poster {
    
    position: relative;
}

.rating {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    left: 1rem;
    bottom: -2rem;
    background-color: white;
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    color: white;
    border: 2px dashed var(--clr-background);
}

.rating .rating-number {
    font-size: 1.8rem;
    font-weight: 900;
    color: rgb(41, 41, 41);
}

.provider {
    z-index: 20;
    color: rgb(221, 221, 221);
    font-size: .8rem;
    position: absolute;
    right: 20px;
    bottom: -20px;
}

.poster img {
    aspect-ratio: 1/1.5;
    object-fit:cover;
    width: 100%;
    border-radius: 1rem;
}

.overview {
    background-color: var(--clr-background);
    color: rgb(233, 233, 233);
    padding: 5.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1rem;
    position: relative;
    top: -2.5rem;
    z-index: -1;
}
 */

/* ----- */
#settings-button {
    display:none;
    position: fixed;
    margin: 1rem;
    color: white;
    z-index: 100;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.5;


}

#next-button {
    display:none;
    position: fixed;
    padding: 1rem;
    color: white;
    z-index: 100;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.5;


}

@media only screen and (min-width:48rem){
    .cards-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-template-rows: auto 1fr;
        gap: 0.5rem;
    }

    .card {
        width: 100%;
        margin: 0;
    }

    .poster img {
        aspect-ratio: 1/1.4;
    }

    .overview {
        height: 17rem;
    }

    .overview-details {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    
}